th{
    color: white;
    border-style: solid;
}

table{
    background-color: red;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    font-size: 30px;
}
td{
    color: white;
    border-style: solid;
}
h2{
    text-align: center;
    text-decoration: underline;
    font-size: 35px;
}
@media only screen and (max-width: 600px) {
    table{
        font-size: 15px;
    }
}
@media only screen and (min-width: 600px) and (max-width: 920px){
    table{
        font-size: 20px;
    }
}