body{
    background-color: black;   
}
main{
    justify-content: space-around;
    display: flex;
}
article{
    font-size: 25px;
    width: 440px;
    color: white;
    border-style: solid;
    border-color: white;
    padding: 10px;
    margin-top: 20px;
    border-radius: 20px;
    display: inline-block;
    justify-content: space-between;
    text-align: left;
}

@media only screen and (max-width: 600px) 
{
    main{
        display: block;
    }
    article{
        display: block;
    }
    #articulo1{
        float: none;
        margin-left: 0px;
        position: relative;
        left: 0;
        right: 0;
        margin: auto;
        margin-top: 10px;
    }
    #articulo2{
        float: none;
        margin-left: 0px;
        position: relative;
        left: 0;
        right: 0;
        margin: auto;
        margin-top: 10px;
    }
   footer{
    margin-top: 20px;
   }
}
@media only screen and (min-width: 600px) and (max-width:920px) 
{
    main{
        display: block;
    }
    article{
        display: block;
    }
    #articulo1{
        float: none;
        margin-left: 0px;
        position: relative;
        left: 0;
        right: 0;
        margin: auto;
        margin-top: 10px;
    }
    #articulo2{
        float: none;
        margin-left: 0px;
        position: relative;
        left: 0;
        right: 0;
        margin: auto;
        margin-top: 10px;
    }
   footer{
    margin-top: 20px;
   }
}
