h1{
    background-color: red;
}
main > article{
    font-size: 25px;
    border-style: solid;
    border-radius: 10px;
    margin: 10px;
}
aside
{
    text-align: center;    
}
aside > img{
    width: 500px;
}

